<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Last Years</title>
    <link rel="stylesheet" href="/static/screen.css" type="text/css" />
    <link rel="stylesheet" href="/static/style.css" type="text/css" />
</head>
<body>
<div class="container">
<h1>Last Years</h1>
Displays a list of your top albums on Last.fm and the years they were released.

<form action="/albums">
    <input type="text" name="username" />
    <button title="Go!" type="submit">Go!</button>
</form>
</div>
<footer>
    <p>Sourcecode available at <a href="https://github.com/tian2992/LastYears">github.com/tian2992/LastYears</a>
    <p>Unless otherwise noted, this <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">work</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://sebastianoliva.com" property="cc:attributionName" rel="cc:attributionURL">Sebastian Oliva</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/gt/">Creative Commons Attribution-Share Alike 3.0 Guatemala License</a>.<br />Based on a work at <a xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://sebastianoliva.com" rel="dc:source">sebastianoliva.com</a>.<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/gt/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/gt/80x15.png" /></a></p>
</footer>
</body>
</html>
